<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>

<p>
    This page was built by <a target="_blank" href="http://github.com/thebullman">B. Kyrk Ullman.</a>
  </p> 
  <br />
  <p>
    Working on foundational skills to ensure a strong portfolio and future in development.
  </p>
  <p>
    If you want to learn how to code -start <a target="_blank" href="https://online.bootcampspot.com"> here!</a>
  </p>




  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'profile-image.png', class: 'img-fluid' %>
    </div> 

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">B. Kyrk Ullman</h2>
      <br />
      <p>
        Kyrk is a Operations Engineer and is learning more about coding. He is also quite private. 
      </p>
    </div>
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />